:host {
  display: block;
  margin: 20px;
}

.mat-form-field {
  margin-top: 8px;
  width: 100%;
}

.mat-card {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .mat-table {
    width: 100%;
  }

  .mat-error,
  .mat-spinner {
    margin: 16px;
  }
}
